<a href="https://colab.research.google.com/github/saumilhj/dsai_projects/blob/main/Olympics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**120 YEARS OF OLYMPIC HISTORY**

Dataset from Kaggle: https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results

### Import libraries

In [1]:
import pandas as pd

### Import data

In [2]:
df_ath = pd.read_csv('athlete_events.csv', engine='python')

In [3]:
df_ath.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Check duplicates and NaN

In [4]:
df_ath[df_ath.isna().all(axis=1)]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

Conclusion: No rows with all NaN values

In [5]:
df_ath.duplicated().sum()

1385

Conclusion: There are 1385 duplicate columns

In [6]:
df_ath.drop_duplicates(inplace=True)

### Adding country using NOC

In [7]:
df_noc = pd.read_csv('noc_regions.csv')

In [8]:
df_com = pd.merge(df_ath, df_noc, left_on='NOC', right_on='NOC', how='left')

### Download the CSV

In [9]:
df_com.to_csv('olympics.csv', index=False)

### Visualization

Tableau Public Link: https://public.tableau.com/views/Olympics_16884693941160/Dashboard1?:language=en-US&:display_count=n&:origin=viz_share_link