<a href="https://colab.research.google.com/github/saumilhj/dsai_projects/blob/main/Simple_Lin_Reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SIMPLE LINEAR REGRESSION**

In [ ]:
import numpy as np
import pandas as pd

import plotly.express as px
import plotly.graph_objects as go

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error

Import data

In [ ]:
df = pd.read_csv('linear_reg.csv')

In [ ]:
df

       X    Y
0      1   46
1      2   53
2      3   38
3      4   39
4      5   32
..   ...  ...
295  296   76
296  297  101
297  298  120
298  299  110
299  300  105

[300 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       300 non-null    int64
 1   Y       300 non-null    int64
dtypes: int64(2)
memory usage: 4.8 KB

In [ ]:
fig = px.scatter(df, x='X', y='Y')
fig.show()

Linear Regression

In [ ]:
# features
X = df['X'].values.reshape(-1, 1)
y = df['Y'].values

In [ ]:
# training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
predict = model.predict(X_test)

In [ ]:
print(f"Mean-squared error: {mean_squared_error(y_test, predict)}")
print(f"Mean-absolute error: {mean_absolute_error(y_test, predict)}")

Mean-squared error: 170.27837920921505
Mean-absolute error: 11.082210478238249

In [ ]:
# Line parameters
slope = model.coef_[0]
y_intercept = model.intercept_
xcor = df['X'].values

# Line
line = slope*xcor + y_intercept

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df['X'], y=df['Y'], mode='markers', name='Y vs X'))
fig.add_trace(go.Scatter(x=df['X'], y=line, name='Regression Line', line={'color': 'black'}))
fig.show()